#Help {
    -fx-background-image: url('../help.jpg');
}

.menu, .menu-item, .menu-bar, #mainAnchorPane, #borderPane, .button, .toggle-button, .titled-pane {
    -fx-background-color: #666666;
    -fx-color: #666666;
}
.menu:hover, .menu-item:hover, .button:hover, .toggle-button:hover, .toggle-button:selected {

    -fx-background-color: #252525;
}

.button, .toggle-button {
    -fx-border-color: white;
    -fx-font-weight: 600;
}

.label, .text {
    -fx-text-fill: white;
    -fx-font-weight: 600;
}

.titled-pane
{
    -fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";
    -fx-text-fill: -fx-text-base-color;
}

.titled-pane > .title
{
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;
}

.titled-pane:focused > .title
{
    -fx-color: #666666;
}

.titled-pane > .title > .arrow-button
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em;
}

.titled-pane > .title > .arrow-button .arrow
{
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em;
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow
{
    -fx-rotate: -90;
}

.titled-pane > *.content
{
    -fx-background-color: linear-gradient(to bottom right, #888888, #666666);
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
}

.titled-pane:focused > .title > .arrow-button .arrow
{
    -fx-background-color: white;
}

.titled-pane:hover > .title
{
    -fx-background-color: black;
}

#connectionModalPane {
    -fx-background-color: linear-gradient(to bottom right, #888888, #666666);
    -fx-border-color: white;
}
